<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.financial.mapper.CompanyMapper">

    <resultMap type="Company" id="CompanyResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="businessScope"    column="business_scope"    />
        <result property="address"    column="address"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="deptId"    column="dept_id"    />
    </resultMap>

    <resultMap id="CompanyPersonnelInfoResult" type="Company" extends="CompanyResult">
        <collection property="personnelInfoList" notNullColumn="sub_id" javaType="java.util.List" resultMap="PersonnelInfoResult" />
    </resultMap>

    <resultMap type="PersonnelInfo" id="PersonnelInfoResult">
        <result property="id"    column="sub_id"    />
        <result property="name"    column="sub_name"    />
        <result property="education"    column="sub_education"    />
        <result property="companyId"    column="sub_company_id"    />
        <result property="department"    column="sub_department"    />
        <result property="position"    column="sub_position"    />
        <result property="phone"    column="sub_phone"    />
        <result property="delFlag"    column="sub_del_flag"    />
        <result property="createBy"    column="sub_create_by"    />
        <result property="createTime"    column="sub_create_time"    />
        <result property="updateBy"    column="sub_update_by"    />
        <result property="updateTime"    column="sub_update_time"    />
    </resultMap>

    <sql id="selectCompanyVo">
        select c.id, c.name, c.business_scope, c.address, c.status, c.del_flag, c.create_by, c.create_time, c.update_by, c.update_time, c.dept_id from company c
    </sql>

    <select id="selectCompanyList" parameterType="Company" resultMap="CompanyResult">
        <include refid="selectCompanyVo"/>
        <where>
            c.del_flag = '0'
            <if test="name != null  and name != ''"> and c.name like concat('%', #{name}, '%')</if>
            <if test="businessScope != null  and businessScope != ''"> and c.business_scope = #{businessScope}</if>
            <if test="address != null  and address != ''"> and c.address = #{address}</if>
            <if test="status != null  and status != ''"> and c.status = #{status}</if>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
    </select>

    <select id="selectCompanyById" parameterType="Long" resultMap="CompanyPersonnelInfoResult">
        select a.id, a.name, a.business_scope, a.address, a.status, a.del_flag, a.create_by, a.create_time, a.update_by, a.update_time, a.dept_id,
 b.id as sub_id, b.name as sub_name, b.education as sub_education, b.company_id as sub_company_id, b.department as sub_department, b.position as sub_position, b.phone as sub_phone, b.del_flag as sub_del_flag, b.create_by as sub_create_by, b.create_time as sub_create_time, b.update_by as sub_update_by, b.update_time as sub_update_time
        from company a
        left join personnel_info b on b.company_id = a.id
        where a.id = #{id}
    </select>

    <insert id="insertCompany" parameterType="Company" useGeneratedKeys="true" keyProperty="id">
        insert into company
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="businessScope != null">business_scope,</if>
            <if test="address != null">address,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="deptId != null">dept_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="businessScope != null">#{businessScope},</if>
            <if test="address != null">#{address},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="deptId != null">#{deptId},</if>
         </trim>
    </insert>

    <update id="updateCompany" parameterType="Company">
        update company
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="businessScope != null">business_scope = #{businessScope},</if>
            <if test="address != null">address = #{address},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCompanyById" parameterType="Long">
        delete from company where id = #{id}
    </delete>

    <delete id="deleteCompanyByIds" parameterType="String">
        delete from company where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deletePersonnelInfoByCompanyIds" parameterType="String">
        update personnel_info set del_flag = '1' where company_id in
        <foreach item="companyId" collection="array" open="(" separator="," close=")">
            #{companyId}
        </foreach>
    </delete>

    <delete id="deletePersonnelInfoByCompanyId" parameterType="Long">
        delete from personnel_info where company_id = #{companyId}
    </delete>

    <insert id="batchPersonnelInfo">
        insert into personnel_info( id, name, education, company_id, department, position, phone, del_flag, create_by, create_time, update_by, update_time) values
		<foreach item="item" index="index" collection="list" separator=",">
            ( #{item.id}, #{item.name}, #{item.education}, #{item.companyId}, #{item.department}, #{item.position}, #{item.phone}, #{item.delFlag}, #{item.createBy}, #{item.createTime}, #{item.updateBy}, #{item.updateTime})
        </foreach>
    </insert>
</mapper>
