<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.financial.mapper.FinancingGuaranteeRiskMapper">

    <resultMap type="FinancingGuaranteeRisk" id="FinancingGuaranteeRiskResult">
        <result property="id"    column="id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="deptName"    column="dept_name"    />
        <result property="guaranteeCompensationRatio"    column="guarantee_compensation_ratio"    />
        <result property="threeAssetRatio"    column="three_asset_ratio"    />
        <result property="reserveExtraction"    column="reserve_extraction"    />
        <result property="infoDate"    column="info_date"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectFinancingGuaranteeRiskVo">
        select c.id, c.dept_id, d.dept_name, c.guarantee_compensation_ratio, c.three_asset_ratio, c.reserve_extraction, c.info_date, c.del_flag, c.create_by, c.create_time, c.update_by, c.update_time from financing_guarantee_risk c LEFT JOIN sys_dept d on c.dept_id = d.dept_id
    </sql>

    <select id="selectFinancingGuaranteeRiskList" parameterType="FinancingGuaranteeRisk" resultMap="FinancingGuaranteeRiskResult">
        <include refid="selectFinancingGuaranteeRiskVo"/>
        <where>
            c.del_flag = '0'
            <if test="guaranteeCompensationRatio != null "> and c.guarantee_compensation_ratio = #{guaranteeCompensationRatio}</if>
            <if test="threeAssetRatio != null "> and c.three_asset_ratio = #{threeAssetRatio}</if>
            <if test="reserveExtraction != null "> and c.reserve_extraction = #{reserveExtraction}</if>
            <if test="infoDate != null "> and c.info_date = #{infoDate}</if>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
    </select>

    <select id="selectFinancingGuaranteeRiskById" parameterType="Long" resultMap="FinancingGuaranteeRiskResult">
        <include refid="selectFinancingGuaranteeRiskVo"/>
        where id = #{id}
    </select>

    <insert id="insertFinancingGuaranteeRisk" parameterType="FinancingGuaranteeRisk" useGeneratedKeys="true" keyProperty="id">
        insert into financing_guarantee_risk
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deptId != null">dept_id,</if>
            <if test="guaranteeCompensationRatio != null">guarantee_compensation_ratio,</if>
            <if test="threeAssetRatio != null">three_asset_ratio,</if>
            <if test="reserveExtraction != null">reserve_extraction,</if>
            <if test="infoDate != null">info_date,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deptId != null">#{deptId},</if>
            <if test="guaranteeCompensationRatio != null">#{guaranteeCompensationRatio},</if>
            <if test="threeAssetRatio != null">#{threeAssetRatio},</if>
            <if test="reserveExtraction != null">#{reserveExtraction},</if>
            <if test="infoDate != null">#{infoDate},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateFinancingGuaranteeRisk" parameterType="FinancingGuaranteeRisk">
        update financing_guarantee_risk
        <trim prefix="SET" suffixOverrides=",">
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="guaranteeCompensationRatio != null">guarantee_compensation_ratio = #{guaranteeCompensationRatio},</if>
            <if test="threeAssetRatio != null">three_asset_ratio = #{threeAssetRatio},</if>
            <if test="reserveExtraction != null">reserve_extraction = #{reserveExtraction},</if>
            <if test="infoDate != null">info_date = #{infoDate},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFinancingGuaranteeRiskById" parameterType="Long">
        delete from financing_guarantee_risk where id = #{id}
    </delete>

    <delete id="deleteFinancingGuaranteeRiskByIds" parameterType="String">
        update financing_guarantee_risk set del_flag = '1' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
