<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.financial.mapper.FinancingGuaranteeMapper">

    <resultMap type="FinancingGuarantee" id="FinancingGuaranteeResult">
        <result property="id"    column="id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="deptName"    column="dept_name"    />
        <result property="newGuaranteeAmount"    column="new_guarantee_amount"    />
        <result property="guaranteeBalance"    column="guarantee_balance"    />
        <result property="guaranteeCount"    column="guarantee_count"    />
        <result property="guaranteeFeeRate"    column="guarantee_fee_rate"    />
        <result property="financingGuaranteeAmplificationFactor"    column="financing_guarantee_amplification_factor"    />
        <result property="infoDate"    column="info_date"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectFinancingGuaranteeVo">
        select c.id, c.dept_id, d.dept_name, c.new_guarantee_amount, c.guarantee_balance, c.guarantee_count, c.guarantee_fee_rate, c.financing_guarantee_amplification_factor, c.info_date, c.del_flag, c.create_by, c.create_time, c.update_by, c.update_time from financing_guarantee c LEFT JOIN sys_dept d on c.dept_id = d.dept_id
    </sql>

    <select id="selectFinancingGuaranteeList" parameterType="FinancingGuarantee" resultMap="FinancingGuaranteeResult">
        <include refid="selectFinancingGuaranteeVo"/>
        <where>
            c.del_flag = '0'
            <if test="newGuaranteeAmount != null "> and c.new_guarantee_amount = #{newGuaranteeAmount}</if>
            <if test="guaranteeBalance != null "> and c.guarantee_balance = #{guaranteeBalance}</if>
            <if test="guaranteeCount != null "> and c.guarantee_count = #{guaranteeCount}</if>
            <if test="guaranteeFeeRate != null "> and c.guarantee_fee_rate = #{guaranteeFeeRate}</if>
            <if test="financingGuaranteeAmplificationFactor != null "> and c.financing_guarantee_amplification_factor = #{financingGuaranteeAmplificationFactor}</if>
            <if test="infoDate != null "> and c.info_date = #{infoDate}</if>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
    </select>

    <select id="selectFinancingGuaranteeById" parameterType="Long" resultMap="FinancingGuaranteeResult">
        <include refid="selectFinancingGuaranteeVo"/>
        where id = #{id}
    </select>

    <insert id="insertFinancingGuarantee" parameterType="FinancingGuarantee" useGeneratedKeys="true" keyProperty="id">
        insert into financing_guarantee
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deptId != null">dept_id,</if>
            <if test="newGuaranteeAmount != null">new_guarantee_amount,</if>
            <if test="guaranteeBalance != null">guarantee_balance,</if>
            <if test="guaranteeCount != null">guarantee_count,</if>
            <if test="guaranteeFeeRate != null">guarantee_fee_rate,</if>
            <if test="financingGuaranteeAmplificationFactor != null">financing_guarantee_amplification_factor,</if>
            <if test="infoDate != null">info_date,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deptId != null">#{deptId},</if>
            <if test="newGuaranteeAmount != null">#{newGuaranteeAmount},</if>
            <if test="guaranteeBalance != null">#{guaranteeBalance},</if>
            <if test="guaranteeCount != null">#{guaranteeCount},</if>
            <if test="guaranteeFeeRate != null">#{guaranteeFeeRate},</if>
            <if test="financingGuaranteeAmplificationFactor != null">#{financingGuaranteeAmplificationFactor},</if>
            <if test="infoDate != null">#{infoDate},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateFinancingGuarantee" parameterType="FinancingGuarantee">
        update financing_guarantee
        <trim prefix="SET" suffixOverrides=",">
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="newGuaranteeAmount != null">new_guarantee_amount = #{newGuaranteeAmount},</if>
            <if test="guaranteeBalance != null">guarantee_balance = #{guaranteeBalance},</if>
            <if test="guaranteeCount != null">guarantee_count = #{guaranteeCount},</if>
            <if test="guaranteeFeeRate != null">guarantee_fee_rate = #{guaranteeFeeRate},</if>
            <if test="financingGuaranteeAmplificationFactor != null">financing_guarantee_amplification_factor = #{financingGuaranteeAmplificationFactor},</if>
            <if test="infoDate != null">info_date = #{infoDate},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFinancingGuaranteeById" parameterType="Long">
        delete from financing_guarantee where id = #{id}
    </delete>

    <delete id="deleteFinancingGuaranteeByIds" parameterType="String">
        update financing_guarantee set del_flag = '1' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
