<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.financial.mapper.LeasingCompanyMapper">

    <resultMap type="LeasingCompany" id="LeasingCompanyResult">
        <result property="id"    column="id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="deptName"    column="dept_name"    />
        <result property="newLoanAmount"    column="new_loan_amount"    />
        <result property="interestRate"    column="interest_rate"    />
        <result property="yearEndDisbursementBalance"    column="year_end_disbursement_balance"    />
        <result property="infoDate"    column="info_date"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectLeasingCompanyVo">
        select c.id, c.dept_id, d.dept_name, c.new_loan_amount, c.interest_rate, c.year_end_disbursement_balance, c.info_date, c.del_flag, c.create_by, c.create_time, c.update_by, c.update_time from leasing_company c LEFT JOIN sys_dept d on c.dept_id = d.dept_id
    </sql>

    <select id="selectLeasingCompanyList" parameterType="LeasingCompany" resultMap="LeasingCompanyResult">
        <include refid="selectLeasingCompanyVo"/>
        <where>
            c.del_flag = '0'
            <if test="newLoanAmount != null "> and c.new_loan_amount = #{newLoanAmount}</if>
            <if test="interestRate != null "> and c.interest_rate = #{interestRate}</if>
            <if test="yearEndDisbursementBalance != null "> and c.year_end_disbursement_balance = #{yearEndDisbursementBalance}</if>
            <if test="infoDate != null "> and c.info_date = #{infoDate}</if>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
    </select>

    <select id="selectLeasingCompanyById" parameterType="Long" resultMap="LeasingCompanyResult">
        <include refid="selectLeasingCompanyVo"/>
        where id = #{id}
    </select>

    <insert id="insertLeasingCompany" parameterType="LeasingCompany" useGeneratedKeys="true" keyProperty="id">
        insert into leasing_company
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deptId != null">dept_id,</if>
            <if test="newLoanAmount != null">new_loan_amount,</if>
            <if test="interestRate != null">interest_rate,</if>
            <if test="yearEndDisbursementBalance != null">year_end_disbursement_balance,</if>
            <if test="infoDate != null">info_date,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deptId != null">#{deptId},</if>
            <if test="newLoanAmount != null">#{newLoanAmount},</if>
            <if test="interestRate != null">#{interestRate},</if>
            <if test="yearEndDisbursementBalance != null">#{yearEndDisbursementBalance},</if>
            <if test="infoDate != null">#{infoDate},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateLeasingCompany" parameterType="LeasingCompany">
        update leasing_company
        <trim prefix="SET" suffixOverrides=",">
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="newLoanAmount != null">new_loan_amount = #{newLoanAmount},</if>
            <if test="interestRate != null">interest_rate = #{interestRate},</if>
            <if test="yearEndDisbursementBalance != null">year_end_disbursement_balance = #{yearEndDisbursementBalance},</if>
            <if test="infoDate != null">info_date = #{infoDate},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLeasingCompanyById" parameterType="Long">
        delete from leasing_company where id = #{id}
    </delete>

    <delete id="deleteLeasingCompanyByIds" parameterType="String">
        update leasing_company set del_flag = '1' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
