<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.financial.mapper.MicrofinanceCompanyInfoMapper">

    <resultMap type="MicrofinanceCompanyInfo" id="MicrofinanceCompanyInfoResult">
        <result property="id"    column="id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="deptName"    column="dept_name"    />
        <result property="businessLicense"    column="business_license"    />
        <result property="existenceStatus"    column="existence_status"    />
        <result property="registrationStatus"    column="registration_status"    />
        <result property="infoDate"    column="info_date"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectMicrofinanceCompanyInfoVo">
        select c.id, c.dept_id, d.dept_name, c.business_license, c.existence_status, c.registration_status, c.info_date, c.del_flag, c.create_by, c.create_time, c.update_by, c.update_time from microfinance_company_info c LEFT JOIN sys_dept d on c.dept_id = d.dept_id
    </sql>

    <select id="selectMicrofinanceCompanyInfoList" parameterType="MicrofinanceCompanyInfo" resultMap="MicrofinanceCompanyInfoResult">
        <include refid="selectMicrofinanceCompanyInfoVo"/>
        <where>
            c.del_flag = '0'
            <if test="businessLicense != null  and businessLicense != ''"> and c.business_license = #{businessLicense}</if>
            <if test="existenceStatus != null  and existenceStatus != ''"> and c.existence_status = #{existenceStatus}</if>
            <if test="registrationStatus != null  and registrationStatus != ''"> and c.registration_status = #{registrationStatus}</if>
            <if test="infoDate != null "> and c.info_date = #{infoDate}</if>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
    </select>

    <select id="selectMicrofinanceCompanyInfoById" parameterType="Long" resultMap="MicrofinanceCompanyInfoResult">
        <include refid="selectMicrofinanceCompanyInfoVo"/>
        where id = #{id}
    </select>

    <insert id="insertMicrofinanceCompanyInfo" parameterType="MicrofinanceCompanyInfo" useGeneratedKeys="true" keyProperty="id">
        insert into microfinance_company_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deptId != null">dept_id,</if>
            <if test="businessLicense != null">business_license,</if>
            <if test="existenceStatus != null">existence_status,</if>
            <if test="registrationStatus != null">registration_status,</if>
            <if test="infoDate != null">info_date,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deptId != null">#{deptId},</if>
            <if test="businessLicense != null">#{businessLicense},</if>
            <if test="existenceStatus != null">#{existenceStatus},</if>
            <if test="registrationStatus != null">#{registrationStatus},</if>
            <if test="infoDate != null">#{infoDate},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateMicrofinanceCompanyInfo" parameterType="MicrofinanceCompanyInfo">
        update microfinance_company_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="businessLicense != null">business_license = #{businessLicense},</if>
            <if test="existenceStatus != null">existence_status = #{existenceStatus},</if>
            <if test="registrationStatus != null">registration_status = #{registrationStatus},</if>
            <if test="infoDate != null">info_date = #{infoDate},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMicrofinanceCompanyInfoById" parameterType="Long">
        delete from microfinance_company_info where id = #{id}
    </delete>

    <delete id="deleteMicrofinanceCompanyInfoByIds" parameterType="String">
        update microfinance_company_info set del_flag = '1' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
