spring:
  datasource:
    druid:
      # 主库数据源
      master:
        url: jdbc:mysql://218.6.120.50:13306/financial_organization?useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=true&serverTimezone=GMT%2B8
        username: ly_phjrpt1
        password: fA6b3$25%5
      # 从库数据源
      slave:
        # 从数据源开关/默认关闭
        enabled: false
        url:
        username:
        password:
  # redis 配置
  redis:
    # 地址
    host: 106.55.58.124
    # 端口，默认为6379
    port: 6379
    # 数据库索引
    database: 11
    # 密码
    password: szcy@2020
    # 连接超时时间
    timeout: 10s
    lettuce:
      pool:
        # 连接池中的最小空闲连接
        min-idle: 0
        # 连接池中的最大空闲连接
        max-idle: 8
        # 连接池的最大数据库连接数
        max-active: 8
        # #连接池最大阻塞等待时间（使用负值表示没有限制）
        max-wait: -1ms
